#mainImage{
  width: 250px:
  height: 250px:
  top-padding: 100px;
}
 #main{
 text-align: center;
   background-color: #cc33ff;
   
}
#mainName{
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}
